body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: #ffffff;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #1e293b, #0f172a);
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    color: #38bdf8;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #38bdf8;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
}

/* SECTIONS */
section {
    padding: 50px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    color: #38bdf8;
}

/* SKILLS */
.skills span {
    display: inline-block;
    background: #1e293b;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
}

/* PROJECTS */
.project {
    background: #1e293b;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
}

.project a {
    color: #38bdf8;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}
